<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Koa2 request post demo</h1>
  <form method="POST"  action="/">
      <p>userName</p>
      <input name="userName" /> <br/>
      <p>age</p>
      <input name="age" /> <br/>
      <p>webSite</p>
      <input name='webSite' /><br/>
      <button type="submit">submit</button>
  </form>
</body>
</html>